# Environment variables
.env
.env.local

# SQLite Database local files
database/*.sqlite
database/*.sqlite-journal

# IDE & Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
